@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-font: 'Red Hat Display', sans-serif;
    --p-font-size: 16px;
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    background-color: var(--pale-blue);
    background-image: url('../img/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: var(--main-font);
}

.container {
    background-color: #fff;
    width: 500px;
    height: 725px;
    margin: 10vh auto;
    border-radius: 10px;
    overflow: hidden;
}

.card-img {
    width: 100%;
}

.card-content {
    padding: 3rem;
}

.payment-summary {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-summary p {
    color: #aaa;
    margin: 1rem 0;
    width: 90%;
    text-align: center;
    line-height: 1.6;
    font-weight: 700;
}

.payment-plan {
    background-color: var(--very-pale-blue);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.payment-plan-img {
    margin: .5rem .5rem 0 0;
}

.payment-plan-content {
    margin: 0 8rem 0 1rem;
}

.payment-plan-switch {
    right: 0;
}

.cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #aaa;
    font-weight: 700;
}

.cta a {
    color: #aaa;
}

.cta a:hover {
    text-decoration: underline;
}

.btn {
    background-color: var(--bright-blue);
    border: none;
    border-radius: 10px;
    padding: 1rem;
    margin: 2rem 0 2rem;
    width: 100%;
    box-shadow: 0 10px 10px #ccc;
    color: var(--very-pale-blue);
    font-size: var(--p-font-size);
    font-weight: 900;
    cursor: pointer;
}

.btn:hover {
    background-color: var(--pale-blue);
    color: var(--bright-blue);
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: var(--pale-blue);
        background-image: url('../img/pattern-background-mobile.svg');
    }
    .container {
        width: 90%;
        height: 675px;
    }
    .card-content {
        padding: 1.5rem;
    }
    .payment-plan {
        margin: 1rem 0 .5rem;
    }
    .payment-plan-content {
        margin: 0 5.5em 0 1rem;
    }
}